<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
  <div th:insert="fragments/header :: header"></div>
  <h1>Search</h1>
  <form th:object="${fine}" th:action="@{/amendAmount}" method="post">
      <div>
          <label for="reference">Reference:</label>
          <input id="reference" th:field="*{reference}" placeholder="reference"/>
          <!-- display any errors -->
          <span
                  th:if="${#fields.hasErrors('reference')}"
                  th:errors="*{reference}" class="error">
          </span>
      </div>
      <div>
          <button type="submit">Submit</button>
      </div>
  </form>
  <div th:insert="fragments/footer :: footer"></div>
</body>
</html>